
{% extends "index.html" %}

{% block person-info %}
    <p> First name: {{ editform.first_name }}</p>
    <p> Last name: {{ editform.last_name }}</p>
    <p> Date of birth: {{ editform.birth_date }}</p>
{% endblock %}

{% block person-photo %}
    <img src="{{ editform.initial.photo.url }}" />
    {{ editform.photo }}
{% endblock %}

{% block person-generalcontacts %}
    <p>Email: {{ editform.email }}</p>
    <p>Jabber: {{ editform.jabber }}</p>
    <p>Skype: {{ editform.skype }}</p>
{% endblock %}

{% block person-othercontacts %}
    <p> {{ editform.contacts }} </p>
{% endblock %}

{% block person-bio %}
    {{ editform.bio }}
{% endblock %}

{% block pre_content %}
<form class="form-horizontal" method="post">
{% endblock %}

{% block post_content %}
    <a class="btn">Save</a>
    <a class="btn">Cancel</a>
    </form>
{% endblock %}