{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'hello/css/hello.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="page-header">
            <h2>
                42 Coffee Cups Test Assignment
                <small class="pull-right"><a href="{% url "login" %}">Login</a></small>
            </h2>
        </div>
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Common</h3>
                </div>
                <div class="panel-body">
                    <p> First name: {{ person.first_name }}</p>
                    <p> Last name: {{ person.last_name }}</p>
                    <p> Date of birth: {{ person.profile.birth_date }}</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Biography</h3>
                </div>
                <div class="panel-body">
                    {{ person.profile.bio|linebreaksbr }}
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contacts</h3>
                </div>
                <div class="panel-body">
                    <p>Email: {{ person.email }}</p>
                    <p>Jabber: {{ person.profile.jabber }}</p>
                    <p>Skype: {{ person.profile.skype }}</p>
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Other contacts</h3>
              </div>
              <div class="panel-body">
                    <p> {{ person.profile.contacts }} </p>
              </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <hr />
        <a href="{% url "requests" %}"> Requests </a>
    </footer>

{% endblock %}