{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'hello/css/hello.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h2>
                42 Coffee Cups Test Assignment
                {% if user.is_authenticated %}
                    <small class="pull-right"><a href="{% url "logout" %}?next=/">Log out</a></small>
                {% else %}
                    <small class="pull-right"><a href="{% url "login" %}?next=/">Login</a></small>
                {% endif %}
            </h2>
        </div>

        {% block pre_content %}

        {% endblock %}
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Common</h3>
                </div>
                <div class="panel-body">
                    {% block person-info %}
                        <p> First name: {{ person.first_name }}</p>
                        <p> Last name: {{ person.last_name }}</p>
                        <p> Date of birth: {{ person.profile.birth_date }}</p>
                    {% endblock %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Photo</h3>
                </div>
                <div class="panel-body">
                    {% block person-photo %}
                        <img src="{{ person.profile.photo.url }}" />
                    {% endblock %}
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contacts</h3>
                </div>
                <div class="panel-body">
                    {% block person-generalcontacts %}
                        <p>Email: {{ person.email }}</p>
                        <p>Jabber: {{ person.profile.jabber }}</p>
                        <p>Skype: {{ person.profile.skype }}</p>
                    {% endblock %}
                </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Other contacts</h3>
              </div>
              <div class="panel-body">
                  {% block person-othercontacts %}
                    <p> {{ person.profile.contacts }} </p>
                  {% endblock %}
              </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Biography</h3>
                </div>
                <div class="panel-body">
                    {% block person-bio %}
                        {{ person.profile.bio|linebreaksbr }}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block post_content %}

        {% endblock %}
    </div>

    <footer id="footer">
        <div id="request-container">
            <a href="{% url "requests" %}"> Requests </a>
        </div>
    </footer>

{% endblock %}